<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>HKR Run</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>

    <div class="header">
        <h1>HKR Run</h1>
        <p>View your HKR runs!</p>
      </div>

      <div class="topnav">
        <a href="home">Home</a>
        <a href="history">History</a>
        <a href="about">About</a>
        <a href="configuration"><img  width="14" src="img/configuration.jpg"></a>


      </div>



      <article>

        <h1>About</h1>
        
        <p>
            This website is part of the "Software Development for Cloud" course
            <a href="https://www.hkr.se/en/course/da376a">DA376A</a>
            at Högskolan Kristianstad.
        </p>
        
        <p>
            This is us:
        </p>

        <img  width="200" src="img/anton.jpg">
        <img  width="200" src="img/hashim.jpg">
        <img  width="200" src="img/andre.jpg">
        
        <p>Below you will find links to the relevant repositories used in this course.</p>
        
        <p>
            Click
            <a href="https://github.com/hashimveseli/HkrRunWebsite">here</a>
            to get to the repository
        </p>
      
        
        </article>


<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
