<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>HKR Run</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>

    <div class="header">
        <h1>HKR Run About</h1>
        <p>Learn about us.</p>
      </div>

      <ul class="topnav">
        <li><a href="home">Home</a></li>
        <li><a href="history">History</a></li>
        <li><a href="about">About</a></li>
        <li><a href="admin">Admin</a></li>
        <li style="float:right"><a href="configuration"><img  width="14" src="img/configuration.jpg"></a></li>
        <li style="float:right"><a href="logout">Logout</a></li>
      </ul>

      <article>

        <h1>About</h1>
        
        <p>
            This website is part of the "Software Development for Cloud" course
            <a href="https://www.hkr.se/en/course/da376a">DA376A</a>
            at Högskolan Kristianstad.
        </p>
        
        <p>
            This is us:
        </p>

        <img  width="200" src="img/anton.jpg">
        <img  width="200" src="img/hashim.jpg">
        <img  width="200" src="img/andre.jpg">
        
        <p>Below you will find links to the relevant repositories used in this course.</p>
        
        <p>
            Click
            <a href="https://github.com/hashimveseli/HkrRunWebsite">here</a>
            to get to the repository
        </p>
      
        
        </article>


<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
