<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <title>HKR Run</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>

    <div class="header">
        <h1>HKR Run About</h1>
        <p>Learn about us.</p>
      </div>

      <ul class="topnav">
        <li><a href="home">Home</a></li>
        <li><a href="history">History</a></li>
        <li><a href="about">About</a></li>
        <li><a href="admin">Admin</a></li>
        <li style="float:right"><a href="configuration"><img  width="14" src="img/configuration.jpg"></a></li>
        <li style="float:right"><a href="logout">Logout</a></li>
      </ul>

      <article>
        
        <h1>
            This website is part of the "Software Development for Cloud" course
            <a href="https://www.hkr.se/en/course/da376a">DA376A</a>
            at Högskolan Kristianstad.
        </h1>
        <br>
        <br>
        
        <p>
            The developers part of the team:
        </p>

        <div class="imagesWrapper">
            <div class="profileWrapper">
                <img class="imgProfile" width="200" src="img/anton.jpg">
                <div class="circleFader">
                    <div class="profileText">My name is Anton Sjöstrand</div>
                    <p>I am a 27 years old, who have soon reached his goal of becoming a Software developer. My current hobies are gaining knowledge in different areas concering development and working out. In this project I have mainly focused on the backend and the cloud deployment. However, I have had my hands in every part of this project.</p>
                </div>
            </div>
            <div class="profileWrapper">
                <img class="imgProfile" width="200" src="img/hashim.jpg">
                <div class="circleFader">
                    <div class="profileText">My name is Hashim Veseli</div>
                    <p>I am 23 years old and soon to be a graduated Software Developer.
                        My hobbies are playing football, exercising and coding. 
                        For this project, I have mainly focused on to get this website to run.</p>
                </div>
            </div>
            <div class="profileWrapper">
                <img class="imgProfile" width="200" src="img/andre.jpg">
                <div class="circleFader">
                    <div class="profileText">André Sandin</div>
                </div>
            </div>
        </div>
        <br>
        <br>

        
        <h1>Below you will find links to the relevant repositories used in this course.</h1>
        
        <p>
            Click
            <a href="https://github.com/hashimveseli/HkrRunWebsite">here</a>
            to get to the repository of the website!
        </p>
        <p>
            Click
            <a href="https://github.com/andresandin/cloud-application-hkrrun">here</a>
            to get to the repository of the android application!
        </p>
        <p>
            Click
            <a href="https://github.com/antonsjostrand/cloud-project-backend">here</a>
            to get to the repository of the REST API!
        </p>
      
        
        </article>


<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
