<!doctype html>
<html lang="sv">
  <head>
      <meta charset="utf-8">
      <title>HKR Run</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" href="favicon.ico">
  </head>

  <body>

    <div class="header">
      <h1>HKR Run</h1>
      <h1 style=text-align:center;>Welcome to the HKR Run website!</h1>
    </div>

    <ul class="topnav">
      <li><a href="home">Home</a></li>
      <li><a href="history">History</a></li>
      <li><a href="about">About</a></li>
      <li><a href="admin">Admin</a></li>
      <li style="float:right"><a href="configuration"><img  width="14" src="img/configuration.jpg"></a></li>
      <li style="float:right"><a href="logout">Logout</a></li>
    </ul>

    <body>
 
      <br>
      <h2 style="margin-left: 220px;">Learn about us</h2>
      <img src="img/about.gif" style="height:200px;" class=".gifs;" >
      <br>
      <br>
      <br>
      <br>
      <h2 style="margin-left: 420px;">View past runs</h2>
      <img src="img/history.gif" style="width:448px; float: right;">
      <div style="clear: right"></div>
      <br>
      <br>
      <br>
      <br>
      <h2 style="margin-left: 120px;">Take control as an admin</h2>
      <img src="img/admin.gif" style="width:448px;">
      <br>
      <br>
      <br>
      <br>




    </body>

    <script type="text/javascript" src="js/workout.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
