<!doctype html>
<html lang="sv">
  <head>
      <meta charset="utf-8">
      <title>HKR Run</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" href="favicon.ico">
  </head>

  <body>

    <div class="header">
      <h1>HKR Run</h1>
      <p>Welcome!</p>
    </div>

    <ul class="topnav">
      <li><a href="home">Home</a></li>
      <li><a href="history">History</a></li>
      <li><a href="about">About</a></li>
      <li><a href="admin">Admin</a></li>
      <li style="float:right"><a href="configuration"><img  width="14" src="img/configuration.jpg"></a></li>
      <li style="float:right"><a href="logout">Logout</a></li>
    </ul>

    <article>
      <label>hmm vad ska vi ha för narrative?</label>

    </article>

    <script type="text/javascript" src="js/workout.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
