<!doctype html>
<html lang="sv">
  <head>
      <meta charset="utf-8">
      <title>HKR Run</title>
      <link rel="stylesheet" href="css/style.css">
      <link rel="icon" href="favicon.ico">
  </head>

  <body>

    <div class="header">
      <h1>HKR Run</h1>
      <p>Welcome!</p>
    </div>

    <div class="topnav">
      <a href="home">Home</a>
      <a href="history">History</a>
      <a href="about">About</a>
      <a href="admin">Admin</a>
      <a></a>
      <a></a>
      <a></a> 
      <!-- Blev en sånhär lösning -->
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a></a>
      <a href="configuration"><img  width="14" src="img/configuration.jpg"></a>
      <a href="logout">Logout</a>
    </div>

    <article>
      <label>hmm vad ska vi ha för narrative?</label>

    </article>

    <script type="text/javascript" src="js/workout.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
